@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    background: #2575bb;
}

.container {
    margin: 0 auto;
    width: 1128px;
    background: #fff;
}

header {
    padding: 0 25px;
}

#logo {
    padding: 35px 10px;
    font-size: 52px;
    font-weight: 700;
    text-transform: lowercase;
}

.navigation {
    background-color: #036;
}

.main-menu li {
    float : left;
}

.main-menu li a {
    display: block;
    color: white;
    font-size: 13px;
    padding: 15px 20px 14px;
    text-transform: uppercase;
}

.main-menu li a:hover {
    background: rgba(255,255,255,0.1);
}

.hero {
    width: 100%;
    height: 390px;
    padding: 0 25px;
    margin: 20px 0 30px;
}

.hero .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(390px, auto);
}

.hero .main-article {
    background: url(../img/splash1.jpg);
}

.hero .sub-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .sub-articles > div:nth-child(1) {
    background: url(../img/splash2a.jpg);
}

.hero .sub-articles > div:nth-child(2) {
    background: url(../img/splash2b.jpg);
}

.hero .sub-articles > div:nth-child(3) {
    background: url(../img/splash2c.jpg);
}

.hero .sub-articles > div:nth-child(4) {
    background: url(../img/splash2d.jpg);
}

footer {
    background: #036;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-menu > div {
    padding: 25px 25px 40px;
    color: #ddd;
}

.footer-menu > div > h3 {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(20,70,120);
    text-transform: uppercase;
}

.latest-features > .feature {
    padding: 15px 0;
    border-bottom: 1px solid rgb(20,70,120);
}

.latest-features > .feature:last-child {
    border-bottom: none;
}

.latest-features > .feature > div,
.latest-features > .feature > a > img {
    float: left;
}

.latest-features > .feature > div {
    padding: 0 18px;
}

.latest-features > .feature h4 {
    font-size: 14px;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
}

.latest-features > .feature h4 a {
    color: inherit;
}

.latest-features > .feature h4 a:hover {
    color: #fff;
}

.latest-features > .feature span {
    color: #757575;
    font-size: 12px;
}

.site-information > ul {
    padding: 5px 0;
}

.site-information > ul > li {
    font-size: 13px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(20,70,120);
}

.site-information a {
    color: #dfdfdf;
}

.site-information a:hover {
    color: #fff;
}

.disclaimer p {
    color: #ccc;
    padding: 15px 0;
    font-size: 14px;
    line-height: 173%;
}

.copyright {
    color: #aaa;
    font-size: 12px;
    padding: 15px 25px;
    background: black;
}